In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("country_vaccination_stats (1).csv")

In [3]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [4]:
df.dropna(subset=['daily_vaccinations'], inplace=True)

In [6]:
df.head()

     country        date  daily_vaccinations   vaccines
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V
5  Argentina    1/3/2021              7400.0  Sputnik V

In [7]:

meds = df.groupby(['country'])['daily_vaccinations'].median()


top_meds = meds.nlargest(3)


print("En yüksek 3 median değerine sahip ülkeler:")
print(top_meds)

En yüksek 3 median değerine sahip ülkeler:
country
United States    399093.0
China            299107.5
India            182551.5
Name: daily_vaccinations, dtype: float64